<!-- test -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name  </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef> Contact </th>
    <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <!-- Number of Passenger's Column -->
  <ng-container matColumnDef="numberofpassengers">
    <th mat-header-cell *matHeaderCellDef> No. Passengers </th>
    <td mat-cell *matCellDef="let element"> {{element.numberofpassengers}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
    	<button mat-stroked-button color="primary" (click)="EditBooking(element)">Edit</button>
    	|| 
    	<button mat-stroked-button color="warn">Delete</button>
    </td>

    
  </ng-container>
<!-- 	  <ng-container matColumnDef="disclaimer" *ngIf="dataSource.length === 0">
	    <td mat-footer-cell *matFooterCellDef colspan="7" class="text-center">
	      No records Found.
	    </td>
	  </ng-container> -->
<!-- 
	<ng-container matColumnDef="noRecord">
	      <td mat-footer-cell *matFooterCellDef>No records found.</td>
	</ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- <tr mat-footer-row  *matFooterRowDef="['disclaimer']" ></tr> -->
</table>
<div  *ngIf="dataSource.length === 0" class="text-center">No records Found.</div>




<!-- test -->

<!-- <p>bookings works!</p> -->
