<div class="container mat-elevation-z8">
	<form class=""  [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm.value)">
		<mat-form-field class="example-full-width">
			<input matInput type="text" formControlName="name" placeholder="Passenger Name" required>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput type="text" formControlName="contact" placeholder="Contact Number" required>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput type="time" formControlName="time" placeholder="Pick up Time" required>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput type="number" formControlName="numberofpassengers" min="1" placeholder="Number of Passengers" required>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput type="number" formControlName="price" min="1" placeholder="Price" required>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput type="number" formControlName="rating" min="1" max="100" placeholder="Rating" required>
		</mat-form-field>

		<button mat-raised-button color="accent" type="submit">Submit</button>
	</form>
</div>
